@use '../utils/' as *;

.hero {
  background-color: var(--cl-dk-violet);
  background-image: url('../../../assets/img/hero_desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-block: clamp(rem(60), 5vw, rem(90));
  text-align: center;
  min-height: 50vh;
  margin-top: rem(60);

  p {
    margin-bottom: rem(90);
    color: var(--cl-md-turquoise);
    font-size: clamp(rem(16), 5vw, rem(26));

    &::after {
      content: '|';
      display: inline-block;
      margin-left: rem(5);
      opacity: 1;
      animation: blink 0.7s infinite;
    }
  }

  h1 {
    color: var(--cl-md-turquoise);
    font-size: clamp(rem(20), 5vw, rem(38));
    line-height: 1.4;

    span {
      color: var(--cl-lt-orange);
      font-family: var(--ff-Berkshire);
      font-size: clamp(rem(36), 5vw, rem(66));
    }
  }

  @include breakpoint('medium') {
    height: calc(100vh - 60px);
  }
}
