@use '../utils/' as *;

.projetos {
  min-height: 100vh;

  &__wrapper {
    max-width: fit-content;
    margin-inline: auto;

    @include breakpoint('medium') {
      column-count: 3;
    }
  }

  .projeto__container {
    margin-bottom: rem(20);
  }

  .projeto__item {
    border-radius: 6px;
    overflow: hidden;
    background: var(--cl-dk-violet);
    position: relative;
    transition: .3s ease;
    max-width: 300px;
    cursor: pointer;

    .item__img {
      max-width: 300px;
      height: fit-content;
    }

    .item__info {
      padding: 10px;
      max-width: fit-content;

      p {
        font-size: rem(14);
      }
    }
  }
}