@use '../utils/' as *;

.projetos {
  min-height: 100vh;

  &__wrapper {
    max-width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: rem(30);
  }

  .projeto__item {
    border-radius: 6px;
    overflow: hidden;
    background: var(--cl-dk-violet);
    position: relative;
    transition: .3s ease;
    position: relative;
    height: 246px;
    max-width: 300px;

    .item__img {
      height: fit-content;
    }

    .item__info {
      padding: 10px;
      max-width: fit-content;
      position: absolute;
      top: 69%;
      background: var(--cl-dk-violet);
      display: grid;
      gap: rem(16);

      h4 {
        font-size: rem(14);
        font-weight: normal;
      }

      ul {
        display: flex;
        gap: rem(20);
      }

      .tecs {

        span {
          top: -34px;
          height: fit-content;
        }

        li {
          max-width: 44px;
        }
      }
    }

    &:hover .item__info, &:active .item__info {
      top: 0;
      height: 100%;
      transition: top .5s;
    }

    @include breakpoint(medium) {
      width: 300px;
    }
  }
}