@use '../utils/' as *;

.titulo {
  font-size: rem(30);
  font-family: var(--ff-Berkshire);
  color: var(--cl-lt-orange);
  margin-bottom: rem(20);

  @include breakpoint(medium) {
    font-size: rem(44);
  }
}