@keyframes rollLeft {
  0% {
    transform: rotate(0);
  }
  99% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rollRight {
  0% {
    transform: rotate(0);
  }
  99% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}