@use '../utils' as *;


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

h1, h2, h3 {
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--cl-md-green);
  font-style: italic;
  font-weight: bold;
  transition: .3s ease;
}

ul {
  list-style: none;
}

body {
  position: relative;
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--cl-vd-blue);
  color: var(--cl-white-body);
  font-family: var(--ff-space);
}

.section {
  padding-block: rem(30);
}

// BUTTONS 
.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: rem(40);
}

.btn {
  text-transform: uppercase;
  border: none;
  padding-block: rem(10);
  padding-inline: rem(26);
  border-radius: rem(6);
  cursor: pointer;
  letter-spacing: rem(1.5);
  font-weight: bold;
  transition: .3s ease;
  font-style: normal;
}

.btn--yellow {
  background: var(--cl-lt-orange);
  color: var(--cl-vd-blue);

  &:hover {
    box-shadow: 0px 0px 20px #F8D092;
  }
}

.btn--blue {
  background: transparent;
  color: var(--cl-lt-orange);
  border: 3px solid var(--cl-lt-orange);

  &:hover {
    background: var(--cl-vd-blue);
    border-color: transparent;
  }
}

.titulo {
  font-size: rem(30);
  text-align: center;
  font-family: var(--ff-Berkshire);
  color: var(--cl-lt-orange);
  margin-bottom: rem(60);

  @include breakpoint('medium') {
    font-size: rem(66);
  }
}

.no-scroll {
  overflow: hidden;
}