:root {
  --cl-white: hsla(0, 0%, 100%, 1);
  --cl-white-body: hsla(0, 0%, 100%, 0.7);
  --cl-vd-blue: hsl(240, 52%, 5%);
  --cl-md-green: hsla(167, 49%, 43%, 1);
  --cl-dk-violet: hsla(240, 47%, 14%, 1);
  --cl-dk-purple: hsla(243, 44%, 25%, 1);
  --cl-md-turquoise: hsla(183, 76%, 34%, 1);
  --cl-lt-orange: hsla(36, 88%, 77%, 1);
  --cl-md-orange: hsla(34, 62%, 63%, 1);
  --cl-backdrop-modal: hsl(240, 50%, 5%);
  --ff-Berkshire: 'Berkshire Swash', cursive;
  --ff-space: 'Space Mono', monospace;
}
